/*! purgecss start ignore */
@import "choices.js/public/assets/styles/choices.css";
/*! purgecss end ignore */

/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */

@tailwind utilities;
